@charset "UTF-8";
.galeria {
  border-radius: 20px;
  margin: 20px;
  background-color: #223d56;
}
.galeria .imagen img {
  height: 25vh;
  width: 30vw;
  margin: 30px;
  border: double grey 2px;
  opacity: 0.5;
}
.galeria .imagen img:hover {
  border: double goldenrod 2px;
  border-radius: 5px;
  opacity: 1;
  height: 35vh;
  width: 50vw;
  transition-delay: 300ms, 300ms, 5ms, 5ms;
  transition-property: border, opacity, width, height;
}

.productos, .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 100px;
}
.productos h1, .galeria h1 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.producto img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.producto p {
  color: white;
  background-color: #223d56;
  border-radius: 5px;
  text-align: justify;
  width: 200px;
}

* {
  border: 0;
  padding: 0;
}

body {
  border: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

a {
  color: goldenrod !important;
  font-family: "Poppins";
}

.h1, .carrusel h5, .galeria h4, .productos h1, .galeria h1 {
  color: goldenrod;
  text-shadow: 1px 2px 2px black;
}

ul {
  list-style: none;
}

.carrusel h5 {
  font-family: "Permanent Marker";
  font-size: 2rem;
}
.carrusel p {
  font-size: 2rem;
  text-shadow: 1px 2px 2px black;
}
.carrusel .w-100 {
  height: 480px;
  border-radius: 20px;
}

.menu {
  font-size: 1.5rem;
  background-color: #223d56 !important;
  border-radius: 20px;
  margin: 30px;
  padding: 4px;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 2px;
}

.nav-link {
  color: goldenrod !important;
}

.navbar-toggler:focus {
  outline: none;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-width: 250px;
}

.navbar-toggler {
  color: goldenrod;
}

table {
  color: goldenrod;
  border: solid 5px goldenrod;
  margin: 50px;
  padding: 20px;
  background-color: #223d56;
}
table td {
  padding: 3px;
}

footer {
  width: 100%;
  color: goldenrod;
  text-align: center;
  background-color: #223d56 !important;
  bottom: 0;
  left: 0;
}

.formulario {
  border: 10px;
  padding: 10px;
}

.form-floating {
  padding-left: 5px;
}

.btn-primary {
  --bs-btn-bg: goldenrod;
  --bs-btn-border-color: #0c0d0d;
  --bs-btn-hover-color: navy;
  --bs-btn-hover-bg: rgb(87, 69, 22);
  --bs-btn-hover-border-color: rgb(87, 69, 22);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: goldenrod;
  --bs-btn-active-border-color: goldenrod;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: goldenrod;
  --bs-btn-disabled-border-color: goldenrod;
}

main {
  margin-top: 100px;
  text-align: center;
  align-items: center;
}
main #imcorp {
  width: 0px;
}
main section {
  width: 100%;
  text-align: center;
}

.presentacion {
  text-align: center;
  align-items: center;
}

@media (max-width: 1024px) {
  body {
    background-color: white;
  }
  .imagen_empresa {
    display: none;
  }
  #imcorp {
    height: 0px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  body {
    background-color: red;
  }
  .imagen_empresa {
    display: none;
  }
  #imcorp {
    width: 0px;
  }
}
@media (max-width: 430px) {
  body {
    background-color: rgb(134, 169, 235);
  }
  .carrusel {
    display: none;
  }
}
/* implementación SASS 7-1*/

/*# sourceMappingURL=styles.css.map */
