 
.menu {
    font-size: 1.5rem;
    background-color: #223d56;
    border-radius: 20px;
    margin: 30px;
    padding: 4px;
    .logo {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin: 2px;
    }
    
    .nav-link {
        color: navy;
        text-shadow: 1px 1px 2px orange;

    }
    
    a {
        color: navy !important;
        font-family: 'Poppins';
        text-shadow: 1px 1px 2px rgb(212, 22, 22);
    }

    .navbar-toggler:focus {
        outline: none;
    }
    
    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl {
        --bs-offcanvas-width: 250px;
    }  
  

}