.noticias{
    
    background-color: $fondo3;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    h1{
        @extend .h1;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    }
    h3{
        color: white;
    }
    
}
.noticia{
    img{
        border-radius: 5px;
        height: 200px;
        width: 300px;
        }
    p{
        color: white;
        background-color: $fondo3;
        border-radius: 5px;
        padding: 5px;
        text-align: justify;
        width: 300px;
    }
}